arrow==0.5.4
backports.shutil-get-terminal-size==1.0.0
beanstalkc==0.4.0
click==6.7
coverage==3.7.1
croniter==0.3.5
decorator==4.0.11
enum34==1.1.6
Flask==0.10.1
gevent==1.1.1
greenlet==0.4.12
gunicorn==19.0.0
httplib2==0.9
inflect==0.2.5
itsdangerous==0.24
Jinja2==2.9.5
kafka-python==0.9.4
MarkupSafe==0.23
meld3==1.0.2
mock==1.0.1
mongoengine==0.8.7
MySQL-python==1.2.5
packaging==16.8
pathlib2==2.2.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
ptyprocess==0.5.1
pygal==1.7.0
Pygments==2.2.0
pymongo==2.8
pyparsing==2.1.10
python-dateutil==2.6.0
PyYAML==3.11
readline==6.2.4.1
redis==2.10.3
requests==2.10.0
scandir==1.5
simplegeneric==0.8.1
six==1.10.0
sqlacodegen==1.1.5
SQLAlchemy==0.9.8
supervisor==3.3.3
traitlets==4.3.1
wcwidth==0.1.7
Werkzeug==0.11.15
pyquery==1.2.17
lxml==3.8.0
pycrypto==2.6.1
schedule==0.4.2  # https://github.com/dbader/schedule
crontab==0.21.3  # https://github.com/josiahcarlson/parse-crontab
psutil==5.2.0

Babel==2.5.1
pytz==2017.3