<div class="fta-border-container">
    <h3 class="fta-main-title">${_(u'自愈小助手')} <em>${_(u'通过分析数据，自愈决策出推荐方案，减轻配置成本')}</em></h3>

    <div class="helper-loading-panel">
        <div class="helper-loading">
            <img src="${STATIC_URL}images/helper-icon1.png">
            <span>
                % if enable_count:
                <p>
                    ${_(u'已采纳')}
                    <a href="javascript:include_open('${cc_biz_id}/alarm_def_list/','',1);">${enable_count}</a>
                    ${_(u'条决策')}
                </p>
                % endif
                <p>${_(u'自愈小助手正在决策分析中')} ···</p>
            </span>
        </div>
    </div>
</div>

<script type="text/javascript">
    locateRightNav('li-fta_helper')
    $(".fta-border-container").css("min-height",$(window).innerHeight() - 110 + "px");
    $(function(){
        % if suggest_count:
            $("#fta_helper_suggest_count").html('<em>${suggest_count}</em>');
        % else:
            $("#fta_helper_suggest_count").html('');
        % endif
    })
</script>