<input type="hidden" name="real_solutions" id="real_solutions" value='${sol_list if edit else """[[{}, "0", _(u"双击选择套餐")]]"""}'/>

<div class="alert alert-success" id="component_help">
    ${_(u'请在右边进行图形化配置')}
    <a target="_blank" href="http://docs.bk.tencent.com/product_white_paper/fta/Advanced_Features/Combination_Solution.html">${_(u'需要帮助')} ?</a>
    <i class="bk-icon icon-arrows-m-right-shape"></i>
    <i class="bk-icon icon-arrows-m-right-shape"></i>
    <i class="bk-icon icon-arrows-m-right-shape"></i>
</div>
